.btn-num {
    font-size: 3.8em;
}

body {
    background: linear-gradient(
        90deg,
        rgba(48, 16, 255, 1) 0%,
        rgba(100, 115, 255, 1) 100%
    );
}

form {
    background-color: rgb(240, 239, 239);
}